dill
numpy<2.0.0
scipy
tqdm
gymnasium
ipython
pygame
ipywidgets
opencv-python
flask
flask-socketio
wandb
GitPython
memory_profiler
sacred
pymongo
matplotlib
requests
seaborn==0.9.0
ray[rllib]
protobuf
tensorflow
eventlet