chai_sacred==0.8.3
dill==0.3.7
eventlet==0.39.1
Flask==3.1.0
flask_socketio==5.5.1
GitPython==3.1.44
gym==0.26.2
gymnasium==1.1.1
ipython==9.0.2
ipywidgets==8.1.5
matplotlib==3.8.3
numpy==1.23.5
opencv_python_headless==4.7.0.72
pandas==2.0.1
pygame==2.4.0
ray==2.5.0
sacred==0.8.7
scipy==1.8.1
seaborn==0.13.2
setuptools==59.6.0
tensorflow==2.12.0
tqdm==4.65.0
wandb==0.15.3
